
.box__data{
    border: 1px solid turquoise;
    text-align: left;
    vertical-align: top;
}

.box__content{
    border: 1px solid turquoise;
    text-align: left;
    vertical-align: top;
}


.box__data--mouseover{
    border: 1px solid turquoise;
    text-align: left;
    vertical-align: top;
    background-color: lightblue;
}

.box__content--mouseover{
    border: 1px solid turquoise;
    text-align: left;
    vertical-align: top;
    background-color: lightblue;
}
