.semantic_div, 
.semantic_p, 
.semantic_h1, 
.semantic_a, 
.semantic_strong, 
.semantic_em, 
.semantic_table, 
.semantic_small {
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.semantic_div::before, 
.semantic_p::before, 
.semantic_h1::before, 
.semantic_strong::before, 
.semantic_em::before, 
.semantic_a::before, 
.semantic_table::before, 
.semantic_small::before {
  position: absolute;
  font-size: 70%;
  right: 0;
  top: 0;
  padding: 1px;
  color: white;
  font-weight: normal;
  font-style: normal;
  font-family: sans-serif;
}

.semantic_div, 
.semantic_p, 
.semantic_h1 {
  margin: 0;
  padding: 15px;
}

.semantic_div ~ *, 
.semantic_p ~ *, 
.semantic_h1 ~ * {
  margin-top: 15px;
}
.semantic_strong, 
.semantic_a, 
.semantic_em {
  padding: 1px;
}

.semantic_div {
  border: 1px solid #ff9900;
  background: #ffeedd;
}
.semantic_div::before {
  content: "div";
  background: #ff9900;
}
.semantic_p {
  border: 1px solid #77cc99;
  background: #d8f2e7;
}
.semantic_p::before {
  content: "p";
  background: #77cc99;
}
.semantic_h1 {
  border: 1px solid #ff5500;
  background: #ffbbaa;
}
.semantic_h1::before {
  content: "h1";
  background: #ff5500;
}
.semantic_strong {
  border: 1px solid #aa55ee;
  background: #e7ddfa;
  padding-right: 40px;
  /* font-weight: normal; */
}
.semantic_strong::before {
  content: "strong";
  background: #aa55ee;
}
.semantic_a {
  border: 1px solid #55a9ee;
  background: #b1dcff;
  padding-right: 10px;
  /* font-weight: normal; */
}
.semantic_a::before {
  content: "a";
  background: #55a9ee;
}
.semantic_small {
  border: 1px solid #ee5583;
  background: #e7ddfa;
  padding-right: 30px;
  /* font-weight: normal; */
}
.semantic_small::before {
  content: "small";
  background: #e68fa9;
}
.semantic_table {
  border: 1px solid #dfee55;
  background: #f0fadd;
  padding-right: 35px;
  /* font-weight: normal; */
}
.semantic_table::before {
  content: "table";
  background: #dfee55;
}
.semantic_em {
  border: 1px solid #ee88cc;
  background: #f6ccdd;
  padding-right: 21px;
}
.semantic_em::before {
  content: "em";
  background: #ee88cc;
}

.hovered {
  background-color : skyblue;
  border: 1px solid steelblue;
}